<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Our lovely users:</h1>
<ul>
{% for key, value in users.items() %}
<li>{{ key }} : {{ value }}</li>
{% endfor %}

</ul>
</body>
</html>